body {
    background: url(../img/clavier-ordinateur.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: white;
  
}

.soustitre {
    color : white;
    text-align: center;
      font-family: 'Open Sans', sans-serif;
    font-size: 8vh;
    margin-top: 60px;
    margin-bottom:100px;
}

.p1 {
  text-decoration: none  !important;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  text-align: center;

  
}

.textpendu {

margin-bottom: 50px;
}

.textcalculatrice {

 margin-bottom: 50px;
  }

  .textmorpion {

    margin-bottom: 50px;
    }

    .texblue {
   
      margin-bottom: 50px;
      }

      a  {
        text-decoration: none  !important;
        color: white;
      }